<?xml version="1.0" encoding="UTF-8"?>

<avenue>
  <versionInfo name="Resolume Arena" majorVersion="5" minorVersion="1" microVersion="2"
               revision="56477" id="1"/>
  <settings>
    <general lastOpenedDirectory1="C:" lastOpenedDirectory2="" appStartedFirstTime="0"
             recentCompositions="C:\Users\Swingdash\Documents\Resolume Arena 5\compositions\dlp_tester01cop_061917A.avc&#10;C:\Users\Swingdash\Documents\Resolume Arena 5\compositions\dlp_tester01cop_061617A.avc&#10;C:\Users\Swingdash\Documents\Resolume Arena 5\compositions\RESGEN2.avc&#10;C:\Users\Swingdash\Documents\Resolume Arena 5\compositions\Stage test comp.avc&#10;C:\Users\Swingdash\Documents\Resolume Arena 5\compositions\Ryan_Retest.avc&#10;C:\Users\shado\Documents\Resolume Arena 5\compositions\RESGEN2.avc&#10;C:\Dropbox\Projects\Ryan - LED Panels\Compositions\Ryan_Panel_Test.avc&#10;C:\Dropbox\Projects\Together 2017\stages\middleEast_Down\MiddleEast_Together2017_0605.avc&#10;C:\Users\Swingdash\Documents\Resolume Arena 5\compositions\example.avc"
             quitConfirmationEnabled="1" showClipTimeRemaining="0"/>
    <captureDevices>
      <settings ignoreSystemBlackMagicDevices="1"/>
    </captureDevices>
    <midi>
      <settings enabled="1" midiMapFileName="" midiClockMode="1" octaveNumForMiddleC="0"
                syncDeviceName="">
        <inputDevices/>
        <outputDevices/>
        <controlSurfaces/>
      </settings>
    </midi>
    <dmx>
      <settings dmxMapFileName="" automapEnabled="1"/>
    </dmx>
    <video>
      <settings>
        <showTestScreen value="0"/>
        <defaults>
          <playbackSettings/>
        </defaults>
        <pluginDirectories>
          <directory path="C:\Program Files (x86)\Resolume Arena 5.1.2\plugins\vfx"/>
        </pluginDirectories>
        <previewWindow x="0" y="0" w="0" h="0" saved="0" deviceId="none"/>
      </settings>
    </video>
    <audio>
      <settings>
        <DEVICESETUP deviceType="DirectSound" audioOutputDeviceName="Primary Sound Driver"
                     audioInputDeviceName="Microphone (Realtek High Definition Audio)"
                     audioDeviceRate="44100" audioDeviceOutChans="11"/>
        <fftInputGain curValue="24" defaultValue="0" startValue="-12" stopValue="24"/>
        <defaults>
          <playbackSettings>
            <timelineMode value="2"/>
          </playbackSettings>
        </defaults>
        <channels>
          <fftInputs value="257"/>
        </channels>
        <pluginDirectories>
          <directory path="C:\Program Files (x86)\Resolume Arena 5.1.2\plugins\afx"/>
        </pluginDirectories>
      </settings>
    </audio>
    <gui showAudioControls="1" showLayerPropertyPanel="1" showLayerTimelineControls="0"
         showLayerTransitionControls="1" showBrowserPanel="1" browserInPreviewMode="1"
         showHelp="1" propertyPanelLayout="2" changeFocusOnExternalTriggers="1"
         scrollClipsAndLayers="1" defaultMappingModeType="1" useUniversalFont="0"
         language="English">
      <MainComponent>
        <DeckAndPanelsComponent>
          <Layout>
            <Item index="0" minimumSize="91" maximumSize="465" preferredSize="269"/>
            <Item index="1" minimumSize="3" maximumSize="3" preferredSize="3"/>
            <Item index="2" minimumSize="350" maximumSize="4096" preferredSize="657"/>
          </Layout>
          <PanelsComponent>
            <Layout>
              <Item index="0" minimumSize="226" maximumSize="926" preferredSize="313"/>
              <Item index="1" minimumSize="3" maximumSize="3" preferredSize="3"/>
              <Item index="2" minimumSize="452" maximumSize="4096" preferredSize="1213"/>
              <Item index="3" minimumSize="3" maximumSize="3" preferredSize="3"/>
              <Item index="4" minimumSize="226" maximumSize="4096" preferredSize="388"/>
            </Layout>
            <PropertiesPanelComponent>
              <Layout>
                <Item index="0" minimumSize="226" maximumSize="2048" preferredSize="604"/>
                <Item index="1" minimumSize="3" maximumSize="3" preferredSize="3"/>
                <Item index="2" minimumSize="226" maximumSize="2048" preferredSize="605"/>
              </Layout>
            </PropertiesPanelComponent>
          </PanelsComponent>
        </DeckAndPanelsComponent>
      </MainComponent>
    </gui>
    <osc useBundles="1" mapFileName="">
      <output enabled="0" useBundles="1" port="7001" hostAddress="127.0.0.1"/>
      <input enabled="0" port="7000"/>
    </osc>
    <composition startupFileName="C:\Users\Swingdash\Documents\Resolume Arena 5\compositions\dlp_tester01cop_061917A.avc"
                 defaultWidth="640" defaultHeight="480">
      <settings>
        <recordSettings>
          <directory value="C:\Users\Swingdash\Documents\Resolume Arena 5\recorded"/>
        </recordSettings>
      </settings>
    </composition>
    <fileLoader>
      <settings autoLoadFiles="0">
        <autoLoadDirectories>
          <directory path="C:\Program Files (x86)\Resolume Arena 5.1.2\foo"/>
        </autoLoadDirectories>
      </settings>
    </fileLoader>
  </settings>
</avenue>
